[run]
omit =
    venv/*

include =
    openseries/*

[report]
skip_empty = true

exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

[html]
directory = htmlcov

title = openseries Coverage report