[run]
omit =
    venv/*

include =
    openseries/*

[report]
show_missing = False

exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

[html]
directory = coverage_html

title = openseries Coverage report