[flake8]

# Increase the verbosity of Flake8’s output.
verbose = 0
# Decrease the verbosity of Flake8’s output.
quiet = 0

# Select the formatter used to display errors to the user.
format = default

# Print the total number of errors.
count = True

# Print the source code generating the error/warning in question.
show-source = True

# Count the number of occurrences of each error/warning code and print a report.
statistics = True

# Also print output to stdout if output-file has been configured.
tee = False

# Provide a comma-separated list of glob patterns to exclude from checks.
exclude =
    .git,
    .github,
    ./venv,
    venv,
    .venv,
    ./.venv,
    .pytest_cache,

# Provide a comma-separate list of glob patterns to include for checks.
filename =
    *.py

# Report all errors, even if it is on the same line as a `# NOQA` comment.
disable-noqa = False

# Set the maximum length that any line (with some exceptions) may be.
max-line-length = 88

# Set the maximum allowed McCabe complexity value for a block of code.
max-complexity = 10

# Toggle whether pycodestyle should enforce matching the indentation of the opening bracket’s line.
# incluences E131 and E133
hang-closing = False

# ERROR CODES EXCLUDED
# C901 - Complexity
# E203 - whitespace before ':'
# F722 - syntax error in forward annotation
# F821 - undefined name
# W503 - line break before binary operator
extend-ignore = C901, E203, F722, F821, W503

# List of error codes that Flake8 reports
select = B, C, E, F, W, T4, B9

# Enable PyFlakes syntax checking of doctests in docstrings.
doctests = True
