# Byte-compiled / optimized / DLL files
__pycache__/

# Check and test cache files / coverage reports
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
.coverage
coverage.xml

# Environments
/venv/

# Pycharm
.idea/*

# Mac OSX
.DS_Store

# Visual Studio Code
.vscode/*
