default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        pass_filenames: false
        args:
          - --install-types
          - --non-interactive
          - --config-file=pyproject.toml
        additional_dependencies:
          - pandas-stubs
          - pydantic
          - scipy-stubs
          - types-openpyxl
          - types-python-dateutil
          - types-requests
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-added-large-files
        exclude: ^docs/build/|^docs/_build/
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^docs/build/|^docs/_build/|docs/source/api/generated/
      - id: name-tests-test
        args: [ --pytest-test-first ]
      - id: no-commit-to-branch
        args: [ '--branch', 'master' ]
      - id: pretty-format-json
        args: [ --autofix ]
      - id: trailing-whitespace
        exclude: ^docs/build/|^docs/_build/|docs/source/api/generated/
      - id: mixed-line-ending
        args: [ --fix=auto ]
        exclude: ^docs/build/|^docs/_build/|docs/source/api/generated/
      - id: fix-byte-order-marker
        exclude: ^docs/build/|^docs/_build/|docs/source/api/generated/
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
